<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "form" %>
  </div>
  <div id="order_summary" class="small-5 columns">
    <%= render :partial => "order_summary" %>
  </div>
</div>
