<% unless @brown_items.empty? %>
    <h3>Brown Items</h3>
    <div class="row small-up-2 medium-up-3 large-up-4">
      <% @brown_items.each do |item| %>
        <div class="column column-block">
          <% if item.picture_url.nil? %>
            <img src="//placehold.it/600x600" class="thumbnail" alt="">
          <% else %>
            <p><%= image_tag item.picture_url, height: "600" %></p>
          <% end %>
          <p><%= link_to item.name, item_path(item) %></p>
          <p><%= number_to_currency item.current_price %></p>
          <% if can? :create, Order %>
            <p><%= link_to 'Add To Cart', add_to_cart_path(item.id), :class => "button" %></p>
          <% end %>

        </div>
        <% end %>
    </div>
<% end %>
