</br>
</br>
<div id="color-block" class="panel clearfix" style="width:80%">
  <div id="color-panel">
    <h3>Color</h3>
    <ul>
      <div id="color-list">
        <li style="color: #EE0000;"><span><%= link_to "Red"+"(" +@red_items.size.to_s+")", red_items_path %></span></li>
        <li><sapn><%= link_to "Black"+"(" +@black_items.size.to_s+")", black_items_path %></span></li>
        <li style="color: #76EE00;"><span><%= link_to "Green"+"(" + @green_items.size.to_s+")", green_items_path %></span></li>
      </div>
    </ul>
  </div>
</div>
