</br>
</br>
<div id="color-block"  style="width:80%">
  <div id='tt'>
  <h3>Color</h3></div><br>
  <div id="color-panel">
    <ul>
        <li style="color: #EE0000;"><span><%= link_to "Red"+"(" +@red_items.size.to_s+")", red_items_path %></span></li>
        <li><sapn><%= link_to "Black"+"(" +@black_items.size.to_s+")", black_items_path %></span></li>
        <li style="color: #76EE00;"><span><%= link_to "Green"+"(" + @green_items.size.to_s+")", green_items_path %></span></li>
        <li style="color: #A52A2A;"><span><%= link_to "Brown"+"(" + @brown_items.size.to_s+")", brown_items_path %></span></li>
    </ul>
  </div>
</div>
