/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
//= require foundation_and_overrides

 */

 .tl_name {
  width: 225px;
  display: block;
  position: absolute;
}

.tl_date {
  width: 65px;
  display: block;
  position: absolute;
  margin-left: 250px;
}

.tl_controls {
  width:  68px;
  display: block;
  margin-left: 330px;
}

.project_item {
  background-color: #d1ecfb;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-bottom: 10px;
}

.supertiny {
  font-size:5px;
  text-decoration:none;
}

.add_link {
  font-size:75%;
  font-style: normal;
  font-weight: normal;
}

#title_area {
  background-color: #ffffff;
}

#main_content {
  margin-top: 10px;
}

#footer {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color:#fff;
  color: #6493ba;
  text-align: center;
}

#footer a {
  color: #7f9eb8;
  text-decoration: none;
}

#footer a:hover {
  color: #7f9eb8;
  text-decoration: underline;
}

#copy {
  font-size: 85%;
}

table {
  border-collapse:collapse;
}


th {
  text-align: center;
}

td {
  text-align: center;
}



.note {
  font-style: italic;
  font-size: 80%;
}
li.well {
  list-style-type: none;
  margin-left: -10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

label {
  padding-right: 4px;
}


.top-bar {
  padding: 0px 15px 0px 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #4c4c4c;
  background-color: #fff;
  box-shadow: 0 5px 5px 2px rgba(7,7,7,0.08);
}

// .menu vertical {
//   box-shadow: 0 1px 1px rgba(7,7,7,0.08);
// }

.top-bar li{
  padding: 0px 12px 0px 10px
}

.data-dropdown-menu {
  padding: 0px 20px 0px 20px;
  border-radius: 6px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  background-color: #fff;
}

.data-dropdown-menu li {
  padding: 10px;
}

.data-dropdown-menu a:hover{
		$dropdownmenu-arrow-color: #FF9900;}

.top-bar-right{
  padding: 18px 0px 10px 0px
}

.top-bar a {
  color:  #818181;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.top-bar a:hover {
  color: #FF9900;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}

.value {
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}

.cart-table, th,td {
   border: 1px solid #E5E5E5;
}

.cart-table, td {
  background-color: #fff;
}

#color-block {
  padding: 20px;
  border: 1px solid #E5E5E5;
  letter-spacing: 1px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  background-color: #FFFFFA;
}

#color-block a:hover{
  text-decoration: none;
}

#color-block li{
  padding:8px;
}

#color-panel h3{
  font-family: 'Glegoo', serif;
}

#color-list {
  font-size: 18px;
  font-family: 'Glegoo', serif;
}

#product h5 span{
  color:#FF9900;
}

.button:hover {
  text-decoration: none;
}

.glyphicon {
    font-size: 15px;
}

.glyphicon:hover{
  color:#818181;
}

.checkout-right-basket {
  float:right;
  margin-right: 100px;
}

.checkout-right-basket a{
  border-color: black;
  background-color: black;
  color:white;
  font-size: 19px;
}

.checkout-right-basket a:hover{
  border-color:#FF9900;
  background-color: #FF9900;
  color:white;
}
